@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter;
}
.flex{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    position: relative;
    left: 30px;
    background-image: url(https://i.postimg.cc/x1Z7Sx0n/My-Picture.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 275px;
    width: 88px;
    height: 88px;
    transition: 0.40s;
}
.background {
    border-radius: 275px;
    width: 88px;
    height: 88px;
    display: none;
    background: linear-gradient(0deg, rgba(52, 64, 84, 0.75),rgba(52, 64, 84, 0.75));
}
.flex:hover #cameraicon{
    opacity: 1;
    transition: 0.8s;
}
.flex:hover .background{
    display: block;
}
.container h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
    margin-bottom: 20px;
}
.share{
    background-image: url(https://samzuritask1.netlify.app/img/share-default.png);
    background-position: center;
    background-size:cover;
    position: relative;
    left: 250px;
    cursor: pointer;
    width: 55px;
    height: 55px;
}
.Links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Links a {
    padding: 24px, 32px, 24px, 32px;
    width: 80%;
    border: 1px solid white;
    border-radius: 8px;
    height: 76px;
    margin: 8px 0;
    color: #101828;
    font-size: 20px;
    background-color: #eaecf0;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.Links a:hover {
    background-color: #D0D5DD;
}
/* #contact{
    padding: 24px, 32px, 24px, 32px;
        width: 80%;
        border: 1px solid white;
        border-radius: 8px;
        height: 76px;
        margin: 8px 0;
        color: #101828;
        font-size: 20px;
        background-color: #eaecf0;
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
} */
.icon {
    display: flex;
    justify-content: center;
}

.icon a {
    text-decoration: none;
}

.icon img {
    width: 24px;
    height: 24px;
    display: flex;
    margin: 25px;
    margin-bottom: 80px;
}
hr {
    width: 80%;
    margin: auto;
}

footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 28px;
    flex-wrap: wrap;
    flex-direction: row;
}

footer img {
    width: 132.13px;
    height: 32px;
}

footer p {
    font-size: 14px;
    line-height: 24px;
    color: rgb(102, 112, 133);
}
.flex2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sharelink{
    opacity: 0;
    position: absolute;
    right: 58px;
    top: 15px;
    transition: 0.5s;
}
.share:hover #sharelink{
    opacity: 1;
    
}
#shareimage:hover #sharelink{
    opacity: 1;
}
#cameraicon{
    opacity: 0;
    position: absolute;
    top: 55px;
}
@media screen and (min-width:600px) {
    #mobileshare{
        display: none;
    }
}
@media screen and  (max-width: 599px){
  .share{
      display: none;
  }
  #shareimage{
      display: none;
    }
  #mobileshare {
      position: relative;
      cursor: pointer;
      width: 55px;
      height: 55px;
      left: 100px;
  }
  .checkbox p{
    width: 311px;
    height: 48px;
  }
  .form_heading h1{
    width: 343px;
  }
  .form_heading p {
      font-size: 18px;
      line-height: 28px;
      width: 343px;
  }
  .row{
      display: flex;
      flex-direction: column;
    }
  #email{
    width: 343px;
  }
  textarea{
    width: 343px;
  }
}
section {
  margin: 20px auto;
  /* width: 50%; */
}

.form_heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form_heading h1{
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;

}
.form_heading p {
  margin-bottom: 40px;
  font-weight:400;
  font-size: 20px;
  line-height: 30px;

}

.row {
  width: 100%;
  display: flex;
  gap: 20px;
}

label {
  font-size: 14px;
  color: #344054;
  line-height: 20px;
  font-weight: 500;

}

#first_name {
  width: 328px;
}

#last_name {
  width: 328px;
}

/* .text {
  position: relative;
  min-height: 1px;
  float: left;
} */

.input {
  border-radius: 8px;
  margin-bottom: 25px;
  box-shadow: none !important;
  border: 1px solid #D0D5DD;
  height: 44px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: 4px;
}

#email {
  width: 675px;
  height: 44px;
}

textarea {
  height: 132px;
  border-radius: 8px;
  margin-bottom: 25px;
  box-shadow: none !important;
  border: 1px solid #D0D5DD;
  display: block;
  width: 675px;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: 4px;
}
#checkbox{
  width: 20px;
  height: 20px;
  color: #D0D5DD;
  border-radius: 6px;
}
.checkbox {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.checkbox p{
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  width: 688px;
}
.submit {
  cursor: pointer;
  border: 1px solid #1570EF !important;
  background-color: #1570EF;
  color: #fff;
  transition: all 0.3s;
  padding: 9px 28px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border-radius: 4px;
  width: 675px;
}
::placeholder {
  color: #667085;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}